### Review user story and acceptance criteria.
This notes are based on my experience.

There is not enough information in the acceptance criteria:
- how user understand how to go to the profile. Using Tooltip or Popup would be clear.
- about mandatory fields.
- how user can see what password he has set in the app and when user is entering new password.
- how user can understand that the new data saved. It can be by snackbar.
- how user can see information about email verification.

I think that the size of the dropdown that is currently used in the user profile is too small and 
it will not be convenient to select the desired parameter on smaller screens.

For testing this feature, I would use devices from the manufacturer Samsung of the A and S series 
(api 28-33) and devices from the manufacturer xiaomi and honor of similar api.
